a {
  text-decoration: none;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #242121;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.title {
  color: #01353E;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  position: relative;
}

.title::after {
  content: "/";
  position: absolute;
  color: #00B2A0;
  font-size: 72px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding-top: 45px;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.header__top-inner {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0 auto;
}

.menu__list {
  display: flex;
  gap: 43px;
}

.menu__list-link {
  padding: 0 1px 5px;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  transition: all .3s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00B2A0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 92px);
}

.header__title {
  color: #0D302C;
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: normal;
  margin-top: auto;
}

.header__subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: auto;
}

.header__content-icon {
  margin-bottom: 93px;
}

.about-school__inner {
  padding: 190px 0 200px;
}

.about-school__title {
  margin-bottom: 100px;
}

.about-school__text {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 120px;
  row-gap: 30px;
}

.get {
  background-color: #F8F8F8;
  padding: 200px 0 170px;
}

.get__title {
  margin-bottom: 100px;
}

.get__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
}

.get__item {
  max-width: 350px;
  display: grid;
  grid-template-rows: subgrid;
}

.get__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  max-width: 155px;
  margin: auto 70px 15px auto;
  position: relative;
}

.get__item-title::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -60px;
  top: 5px;
}

.get__item-title--live::before {
  background-image: url('../images/live.svg');
  top: -30%;
}

.get__item-title--plane::before {
  background-image: url('../images/plane.svg');
}

.get__item-title--study::before {
  background-image: url('../images/study.svg');
}

.get__item-text {
  margin-top: auto;
}

.get__bottom {
  display: flex;
  justify-content: space-between;
}

.get__bottom-items {
  max-width: 350px;
  margin-top: 10px;
}

.get__bottom-item {
  position: relative;
  margin-bottom: 10px;
}

.get__bottom-item span {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: -10px;
  top: -5px;
}

.get__bottom-info {
  max-width: 600px;
}

.get__bottom-text {
  margin-bottom: 30px;
}

.vertex {
  padding: 200px 0 150px;
  background-image: url('../images/vertex-bg.jpg');
  background-repeat: no-repeat;
  background-size: 63%;
  background-position: 135% center;
  margin-bottom: 200px;
}

.vertex__inner {
  margin-right: auto;
  max-width: 515px;
}

.vertex__title {
  margin-bottom: 100px;
}

.vertex__text {
  display: grid;
  row-gap: 30px;
}

.gallery {
  padding-bottom: 200px;
}

.gallery__title {
  margin-bottom: 212px;
}

.gallery__filter-btn {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

.gallery__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
}

.mixitup-control-active {
  color: #00B2A0;
}

.gallery__content {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  overflow: hidden;
}

.gallery__item {
  position: relative;
}

.gallery__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333B2;
  opacity: 0;
  transition: all .5s;
}

.gallery__item:hover .gallery__item-link {
  opacity: 1;
}

.gallery__add {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  padding: 23px 91px 24px;
  border: 1px solid #C4C4C4;
  color: #242121;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 200px;
}

.blockquote {
  padding: 81px 0 62px;
  background-color: #F8F8F8;
  margin-bottom: 200px;
}

.blockquote__inner {
  display: block;
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
}

.blockquote__author {
  display: block;
  text-align: right;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.gallery__video {
  height: 600px;
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__numbers {
  display: flex;
  justify-content: space-around;
}

.gallery__number {
  text-align: center;
  color: #01353E;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

.gallery__number span {
  display: block;
  margin-top: 5px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}